.elementor-2477 .elementor-element.elementor-element-174be85>.elementor-container {
    min-height: 200px;
}

.elementor-2477 .elementor-element.elementor-element-174be85:not(.elementor-motion-effects-element-type-background),
.elementor-2477 .elementor-element.elementor-element-174be85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-color: var(--e-global-color-419042a); */
    background-image: url(../../../../../images/Contact/MainBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 295px;
}

.elementor-2477 .elementor-element.elementor-element-174be85>.elementor-background-overlay {
    background-image: url("../../2023/05/photo-8-2.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-174be85 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-174be85>.elementor-shape-bottom .elementor-shape-fill {
    fill: var(--e-global-color-910be82);
}

.elementor-2477 .elementor-element.elementor-element-174be85>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 40px;
}

.elementor-2477 .elementor-element.elementor-element-67ec3bb>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-3fde9c6 {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-3fde9c6 .elementor-heading-title {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-7b830a8 {
    text-align: center;
    color: var(--e-global-color-e00d4d9);
    font-family: var(--e-global-typography-fbece17-font-family), Sans-serif;
    font-size: var(--e-global-typography-fbece17-font-size);
    font-weight: var(--e-global-typography-fbece17-font-weight);
    line-height: var(--e-global-typography-fbece17-line-height);
    letter-spacing: var(--e-global-typography-fbece17-letter-spacing);
    word-spacing: var(--e-global-typography-fbece17-word-spacing);
}

.elementor-2477 .elementor-element.elementor-element-3cc3dee {
    padding: 2em 1em 3em 1em;
    background-image: url(../../../../../images/Contact/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-bc-flex-widget .elementor-2477 .elementor-element.elementor-element-b774562.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2477 .elementor-element.elementor-element-b774562.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2477 .elementor-element.elementor-element-b774562>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-8ea895b .elementor-heading-title {
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-41869e2 {
    text-align: left;
}

.elementor-2477 .elementor-element.elementor-element-41869e2 .elementor-heading-title {
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-10294b8 .elementor-heading-title {
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-d4b4766 {
    color: var(--e-global-color-f54ec8f);
}

.elementor-2477 .elementor-element.elementor-element-4124526.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-fbcf6af);
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-4124526.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-4124526.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-fbcf6af);
    color: var(--e-global-color-fbcf6af);
    border-color: var(--e-global-color-fbcf6af);
}

.elementor-2477 .elementor-element.elementor-element-4124526.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-4124526 {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-4124526 .elementor-icon {
    font-size: 25px;
}

.elementor-2477 .elementor-element.elementor-element-4124526 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-4124526 .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-4124526>.elementor-widget-container {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2477 .elementor-element.elementor-element-6298f95.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-98cf106);
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-6298f95.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-6298f95.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-98cf106);
    color: var(--e-global-color-98cf106);
    border-color: var(--e-global-color-98cf106);
}

.elementor-2477 .elementor-element.elementor-element-6298f95.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-6298f95 {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-6298f95 .elementor-icon {
    font-size: 25px;
}

.elementor-2477 .elementor-element.elementor-element-6298f95 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-6298f95 .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-6298f95>.elementor-widget-container {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2477 .elementor-element.elementor-element-9d78db1.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-98cf106);
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-9d78db1.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-9d78db1.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-98cf106);
    color: var(--e-global-color-98cf106);
    border-color: var(--e-global-color-98cf106);
}

.elementor-2477 .elementor-element.elementor-element-9d78db1.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-9d78db1 {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-9d78db1 .elementor-icon {
    font-size: 25px;
}

.elementor-2477 .elementor-element.elementor-element-9d78db1 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-9d78db1 .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-9d78db1>.elementor-widget-container {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-98cf106);
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-a5b90d7.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-98cf106);
    color: var(--e-global-color-98cf106);
    border-color: var(--e-global-color-98cf106);
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7 {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7 .elementor-icon {
    font-size: 25px;
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7 .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-a5b90d7>.elementor-widget-container {
    border-radius: 5px 5px 5px 5px;
}

.elementor-bc-flex-widget .elementor-2477 .elementor-element.elementor-element-8eafbdf.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-2477 .elementor-element.elementor-element-8eafbdf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-2477 .elementor-element.elementor-element-8eafbdf>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a9f91f9:not(.elementor-motion-effects-element-type-background),
.elementor-2477 .elementor-element.elementor-element-a9f91f9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1b1b27;
}

.elementor-2477 .elementor-element.elementor-element-a9f91f9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-2477 .elementor-element.elementor-element-a9f91f9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-5fd9c75>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group {
    padding-right: calc(30px/2);
    padding-left: calc(30px/2);
    margin-bottom: 30px;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-form-fields-wrapper {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
    margin-bottom: -30px;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group>label,
.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-subgroup label {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-type-html {
    padding-bottom: 0px;
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group .elementor-field {
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group .elementor-field,
.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-subgroup label {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__buttons__wrapper__button-next {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button[type="submit"] {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button[type="submit"] svg * {
    fill: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__buttons__wrapper__button-previous {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-message {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-message.elementor-message-success {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-message.elementor-message-danger {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-message.elementor-help-inline {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__indicators__indicator,
.elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__indicators__indicator__label {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-1cb6796 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-primary-color: var(--e-global-color-e00d4d9);
    --e-form-steps-indicator-inactive-secondary-color: var(--e-global-color-e00d4d9);
    --e-form-steps-indicator-active-secondary-color: var(--e-global-color-e00d4d9);
    --e-form-steps-indicator-completed-secondary-color: var(--e-global-color-e00d4d9);
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-2477 .elementor-element.elementor-element-da66a93 {
    padding: 1em 1em 6em 1em;
}

.elementor-2477 .elementor-element.elementor-element-e3d29a6 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-8304df7);
    --divider-border-width: 1px;
}

.elementor-2477 .elementor-element.elementor-element-e3d29a6 .elementor-divider-separator {
    width: 100%;
}

.elementor-2477 .elementor-element.elementor-element-e3d29a6 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-2477 .elementor-element.elementor-element-6fc450a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2477 .elementor-element.elementor-element-6fc450a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-14b2e17);
}

.elementor-2477 .elementor-element.elementor-element-6fc450a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 2em 2em 2em 2em;
}

.elementor-2477 .elementor-element.elementor-element-6fc450a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-a932027.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
    fill: var(--e-global-color-fbcf6af);
    color: var(--e-global-color-fbcf6af);
}

.elementor-2477 .elementor-element.elementor-element-a932027.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-a932027.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
    border-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-a932027.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-fbcf6af);
}

.elementor-2477 .elementor-element.elementor-element-a932027 {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a932027 .elementor-icon {
    font-size: 30px;
    border-width: 2px 2px 2px 2px;
}

.elementor-2477 .elementor-element.elementor-element-a932027 .elementor-icon-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-a932027 .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
}

.elementor-2477 .elementor-element.elementor-element-281c100:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2477 .elementor-element.elementor-element-281c100>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-14b2e17);
}

.elementor-2477 .elementor-element.elementor-element-281c100>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 2em 2em 2em 2em;
}

.elementor-2477 .elementor-element.elementor-element-281c100>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-5922c6e.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
    fill: var(--e-global-color-419042a);
    color: var(--e-global-color-419042a);
}

.elementor-2477 .elementor-element.elementor-element-5922c6e.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-5922c6e.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
    border-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-5922c6e.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-419042a);
}

.elementor-2477 .elementor-element.elementor-element-5922c6e {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-5922c6e .elementor-icon {
    font-size: 30px;
    border-width: 2px 2px 2px 2px;
}

.elementor-2477 .elementor-element.elementor-element-5922c6e .elementor-icon-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-5922c6e .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
}

.elementor-2477 .elementor-element.elementor-element-3eb1997:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2477 .elementor-element.elementor-element-3eb1997>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-14b2e17);
}

.elementor-2477 .elementor-element.elementor-element-3eb1997>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 2em 2em 2em 2em;
}

.elementor-2477 .elementor-element.elementor-element-3eb1997>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-548b052.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-e00d4d9);
    fill: var(--e-global-color-3b566ee);
    color: var(--e-global-color-3b566ee);
}

.elementor-2477 .elementor-element.elementor-element-548b052.elementor-view-framed .elementor-icon,
.elementor-2477 .elementor-element.elementor-element-548b052.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-e00d4d9);
    color: var(--e-global-color-e00d4d9);
    border-color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-548b052.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-3b566ee);
}

.elementor-2477 .elementor-element.elementor-element-548b052 {
    --icon-box-icon-margin: 15px;
}

.elementor-2477 .elementor-element.elementor-element-548b052 .elementor-icon {
    font-size: 30px;
    border-width: 2px 2px 2px 2px;
}

.elementor-2477 .elementor-element.elementor-element-548b052 .elementor-icon-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-14b004b);
}

.elementor-2477 .elementor-element.elementor-element-548b052 .elementor-icon-box-description {
    color: var(--e-global-color-f54ec8f);
}

.elementor-2477 .elementor-element.elementor-element-b5d5f5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6em 1em 6em 1em;
}

.elementor-2477 .elementor-element.elementor-element-b5d5f5e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-34908bd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2477 .elementor-element.elementor-element-34908bd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-98cf106);
}

.elementor-2477 .elementor-element.elementor-element-34908bd>.elementor-element-populated>.elementor-background-overlay {
    background-image: url("../../2023/05/background-2.png");
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
}

.elementor-2477 .elementor-element.elementor-element-34908bd>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-2477 .elementor-element.elementor-element-34908bd>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-75c14f3 {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-75c14f3 .elementor-heading-title {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-315f685 {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-315f685 .elementor-heading-title {
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-315f685>.elementor-widget-container {
    margin: 0% 30% 0% 30%;
}

.elementor-2477 .elementor-element.elementor-element-9d6e676 {
    text-align: center;
    color: var(--e-global-color-6217f2b);
}

.elementor-2477 .elementor-element.elementor-element-9d6e676>.elementor-widget-container {
    margin: 0% 25% 0% 25%;
}

.elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-icon i {
    color: var(--e-global-color-419042a);
    transition: color 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-419042a);
    transition: fill 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-fc868d8 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-fc868d8>.elementor-widget-container {
    margin: 0% 42% 0% 42%;
    padding: 1em 1em 1em 1em;
    background-color: var(--e-global-color-14b2e17);
}

.elementor-2477 .elementor-element.elementor-element-6a50f4e>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-1782d71.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-1782d71.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2477 .elementor-element.elementor-element-1782d71.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-description {
    color: var(--e-global-color-6217f2b);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-1782d71>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    background-color: var(--e-global-color-faad955);
    padding: 0px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button:hover,
.elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button:focus {
    color: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button:hover svg,
.elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button:focus svg {
    fill: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-5281ce3>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-303e82c.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-303e82c.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2477 .elementor-element.elementor-element-303e82c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-description {
    color: var(--e-global-color-6217f2b);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-303e82c>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    background-color: var(--e-global-color-faad955);
    padding: 0px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button:hover,
.elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button:focus {
    color: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button:hover svg,
.elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button:focus svg {
    fill: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-a8956c1>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-description {
    color: var(--e-global-color-6217f2b);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-a44e93f>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    background-color: var(--e-global-color-faad955);
    padding: 0px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button:hover,
.elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button:focus {
    color: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button:hover svg,
.elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button:focus svg {
    fill: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-60e0b9e>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-description {
    color: var(--e-global-color-6217f2b);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-56bd7fe>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    background-color: var(--e-global-color-faad955);
    padding: 0px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button:hover,
.elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button:focus {
    color: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button:hover svg,
.elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button:focus svg {
    fill: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-5e7e6ab>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-afabb10.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-2477 .elementor-element.elementor-element-afabb10.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-2477 .elementor-element.elementor-element-afabb10.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-e00d4d9);
}

.elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-description {
    color: var(--e-global-color-6217f2b);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2477 .elementor-element.elementor-element-afabb10>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    background-color: var(--e-global-color-faad955);
    padding: 0px 0px 0px 0px;
}

.elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button:hover,
.elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button:focus {
    color: var(--e-global-color-e084b84);
}

.elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button:hover svg,
.elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button:focus svg {
    fill: var(--e-global-color-e084b84);
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2477 .elementor-element.elementor-element-6fc450a {
        width: 100%;
    }

    .elementor-2477 .elementor-element.elementor-element-281c100 {
        width: 50%;
    }

    .elementor-2477 .elementor-element.elementor-element-3eb1997 {
        width: 50%;
    }

    .elementor-2477 .elementor-element.elementor-element-6a50f4e {
        width: 33%;
    }

    .elementor-2477 .elementor-element.elementor-element-5281ce3 {
        width: 33%;
    }

    .elementor-2477 .elementor-element.elementor-element-a8956c1 {
        width: 33%;
    }

    .elementor-2477 .elementor-element.elementor-element-60e0b9e {
        width: 33%;
    }

    .elementor-2477 .elementor-element.elementor-element-5e7e6ab {
        width: 33%;
    }
    .elementor-2726 .elementor-element.elementor-element-2b9f981{
        padding: 0em 1em 0em 1em !important;
    }
    .elementor-2477 .elementor-element.elementor-element-3cc3dee{
        padding: 2em 1em 2em 1em;
    }
}

@media(max-width:1024px) {
    .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-container {
        min-height: 18vh;
    }

    .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-shape-bottom svg {
        width: calc(200% + 1.3px);
        height: 30px;
    }

    .elementor-2477 .elementor-element.elementor-element-7b830a8 {
        font-size: var(--e-global-typography-fbece17-font-size);
        line-height: var(--e-global-typography-fbece17-line-height);
        letter-spacing: var(--e-global-typography-fbece17-letter-spacing);
        word-spacing: var(--e-global-typography-fbece17-word-spacing);
    }

    .elementor-2477 .elementor-element.elementor-element-4124526 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-6298f95 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-9d78db1 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-a5b90d7 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group .elementor-field,
    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-subgroup label {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-message {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__indicators__indicator,
    .elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__indicators__indicator__label {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-f7281e6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-315f685>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-2477 .elementor-element.elementor-element-9d6e676>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-fc868d8>.elementor-widget-container {
        margin: 0% 30% 0% 30%;
    }

    .elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }
}

@media(max-width:767px) {
    .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-container {
        min-height: 12vh;
    }

    .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-shape-bottom svg {
        width: calc(200% + 1.3px);
        height: 20px;
    }

    .elementor-2477 .elementor-element.elementor-element-7b830a8 {
        font-size: var(--e-global-typography-fbece17-font-size);
        line-height: var(--e-global-typography-fbece17-line-height);
        letter-spacing: var(--e-global-typography-fbece17-letter-spacing);
        word-spacing: var(--e-global-typography-fbece17-word-spacing);
    }

    .elementor-2477 .elementor-element.elementor-element-b774562>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-8ea895b {
        text-align: center;
    }

    .elementor-2477 .elementor-element.elementor-element-10294b8 {
        text-align: center;
    }

    .elementor-2477 .elementor-element.elementor-element-d4b4766 {
        text-align: center;
    }

    .elementor-2477 .elementor-element.elementor-element-4124526 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-6298f95 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-9d78db1 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-a5b90d7 .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-8eafbdf>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-group .elementor-field,
    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-field-subgroup label {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .elementor-message {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__indicators__indicator,
    .elementor-2477 .elementor-element.elementor-element-1cb6796 .e-form__indicators__indicator__label {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-798fe23>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-6fc450a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 1em 1em 1em 1em;
    }

    .elementor-2477 .elementor-element.elementor-element-281c100>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 1em 1em 1em 1em;
    }

    .elementor-2477 .elementor-element.elementor-element-3eb1997>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 1em 1em 1em 1em;
    }

    .elementor-2477 .elementor-element.elementor-element-34908bd>.elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-2477 .elementor-element.elementor-element-315f685>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-2477 .elementor-element.elementor-element-9d6e676>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2477 .elementor-element.elementor-element-fc868d8 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-fc868d8>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-2477 .elementor-element.elementor-element-6a50f4e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 10%;
    }

    .elementor-2477 .elementor-element.elementor-element-1782d71 .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-fcb58bc .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-5281ce3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-wrapper .elementor-image-box-img {
        width: 10%;
    }

    .elementor-2477 .elementor-element.elementor-element-303e82c .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-438a6d7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-a8956c1>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-wrapper .elementor-image-box-img {
        width: 10%;
    }

    .elementor-2477 .elementor-element.elementor-element-a44e93f .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-0739a1f .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-60e0b9e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-wrapper .elementor-image-box-img {
        width: 10%;
    }

    .elementor-2477 .elementor-element.elementor-element-56bd7fe .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-ceccaf3 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-5e7e6ab>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 10%;
    }

    .elementor-2477 .elementor-element.elementor-element-afabb10 .elementor-image-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2477 .elementor-element.elementor-element-b48ea3a .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-2477 .elementor-element.elementor-element-3cc3dee{
        padding: 2em 1em 2em 1em;
    }
}

@media only screen and (min-width: 1600px){
    .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-container{
        min-height: 363px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .elementor-2477 .elementor-element.elementor-element-174be85:not(.elementor-motion-effects-element-type-background), .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        height: 165px;
    }
}

@media only screen and (max-width: 600px) {
    .elementor-2477 .elementor-element.elementor-element-174be85:not(.elementor-motion-effects-element-type-background), .elementor-2477 .elementor-element.elementor-element-174be85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        height: 77px;
    }
}